   
   body{
    margin:0;
    font-family: Arial;
    background:#e4e4e4;
}

.cv-container{
    width:80%;
    margin:30px auto;
    display:flex;
    background:white;
    box-shadow:0px 0px 20px rgba(0,0,0,0.2);
}

.left{
    width:35%;
    background:#0f2b46;
    color:white;
    padding:30px;
}

.right{
    width:65%;
    padding:40px;
}

.foto{
    width:180px;
    height:180px;
    border-radius:50%;
    display:block;
    margin:auto;
    border:5px solid #4da6ff;
}

h1{
    color:#0f2b46;
    font-size:50px;
    margin-bottom:5px;
}

h3{
    color:#4da6ff;
    margin-top:0;
}

h2{
    border-bottom:2px solid #4da6ff;
    padding-bottom:5px;
    margin-top:30px;
}

.section{
    margin-top:30px;
}

.skills span{
    background:#4da6ff;
    color:white;
    padding:10px 15px;
    border-radius:20px;
    display:inline-block;
    margin:5px;
}

ul{
    padding-left:20px;
}

p{
    line-height:1.6;}